{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}
{% block style %}{% endblock %}
{% block content %} 
<div class="container text-center mt-5">
    <h1>Contact</h1>
    <hr style="width: 80px; border-top: 3px solid #1d3557; margin: 0 auto 2rem;">
</div>
    <div class="contact-container">
        <!-- Left: Contact Form -->
        <div class="contact-form" style="background-color:#fff3f1 ; ">
            <h4>Contact</h4>
            <form action="{% url 'main:contact_view' %}" method="post">
            {% csrf_token %}

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" name="first_name"> 
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" name="last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Your message here"name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-dark w-100 m-1">Submit</button>
            </form>
        </div>
    
        <!-- Right: Contact Information -->
        <div class="contact-info" style=background-color:#fff3f1 ; >
            <div class="box">
                <h5>Email</h5>
                <a href="eyalghamdi@outlook.com">eyalghamdi@outlook.com</a>
            </div>
            <div class="box">
                <h5>WhatsApp</h5>
                <a href="https://wa.me/0590085417" target="_blank">+966 59 008 5417</a>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}