{% extends 'main/base.html' %}
{% load static %}

{% block title %}Detail{% endblock %}
{% block style %}{% endblock %}
{% block content %} 

<div class="container my-5">
    <h2 class="text-center mb-4">User Message </h2>
    <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ user_message.first_name }} {{ user_message.last_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user_message.email }}</h6>
                        <p class="card-text">{{ user_message.message }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        Submitted on {{ user_message.created_at }}
                    </div>
                </div>
            </div>
            <p class="text-center">No messages available.</p>
    </div>
</div>
{% endblock %}