{% extends 'main/base.html' %}
{% load static %}
{% block title %}Skills{% endblock %}
{% block style %}
<style>
    /* Container for Skills Section */
    .skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 5rem; 
}

    /* Card Styling */
    .skills-card {
        background: linear-gradient(0deg, rgb(255, 243, 241) 0%, rgb(170, 130, 43) 100%);
        border-radius: 12px;
        padding: 1.5rem;
        width: 250px;
        text-align: center;
    }

    /* Header for Each Skill Category */
    .skills-card h3 {
        font-weight: bold;
        color: #ebebeb;
        margin-bottom: 1rem;
    }

    /* List of Skills */
    .skills-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .skills-list li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        color: #000000;
        margin-bottom: 0.5rem;
    }

    /* Skill Icon */
    .skills-icon {
        width: 20px;
        height: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Skills</h1>
    <hr style="width: 80px; border-top: 3px solid #1d3557; margin: 0 auto 2rem;">
</div>

<div class="skills-section">
    {% for category, skills in skills_by_category.items %}
    <div class="skills-card">
        <h3>{{ category|upper }}</h3>
        <ul class="skills-list">
            {% for skill in skills %}
            <li>
                <img src="{{ skill.icon.url }}" alt="{{ skill.name }}" class="skills-icon">
                {{ skill.name }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
