{% extends 'main/base.html' %}

{% block title %}dashboard{% endblock %}
{% block style %}{% endblock %}
{% block content %} 
<h1>Dashboard</h1>

<div class="container-fluid d-flex">
<div class="col p-5 me-5 align-items-center">
<form action="">
    <button type="submit">all</button>
    <button type="submit">projects</button>
    <button type="submit">messages</button>
</form>
</div>
<div class="container p-4 mt-3">
    <h2>Messages</h2>
    <table class="table table-hover">
        <thead>
            <th>first name </th>
            <th>last name </th>
            <th>email </th>
            <th style="width: 50%;">Message </th>
            <th style="width: 20%;">date </th>
            <th> Actions</th>
        </thead>
        <tbody>
            {% for massage in contact %}
            <tr>    
                <td> {{ massage.first_name}}</td>
                <td> {{ massage.last_name}}</td>
                <td> {{ massage.email}}</td>
                <td> {{ massage.message}}</td>
                <td> {{ massage.created_at}}</td>
                <td class="d-flex gap-1">
                    <a class="btn btn-dark">view</a>
                    <a class="btn btn-dark">edit</a>
                    <a class="btn btn-danger">delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    


</div>  
</div>

{% endblock %}